<ul>
  <h1>Богдашкины прозвища</h1>
  <h3>
    <li>Богдашка-черепашка</li>
    <li>Богдашка-какашка</li>
    <li>Богдашка-чебурашка</li>
    <li>Богдашка-промокашка</li>
  </h3>
</ul>

<p></p>
<ul>
  <h1>Богдашкины достижения</h1>
    <h3>
      <li>Математика: 5</li>
      <li>Русский: 5</li>
      <li>Труд: 5</li>
      <li>"Русский медведь": 500 место</li>
  </h3>
</ul>
