<h1>Богдашкины прозвища</h1>
<ul>
  <h3>
    <li>Богдашка-черепашка</li>
    <li>Богдашка-какашка</li>
    <li>Богдашка-чебурашка</li>
    <li>Богдашка-промокашка</li>
  </h3>
<ul>

<p><h1>Богдашкины достижения</h1></p>
  <h3>
    <ul>
      <ol>Математика: 5</ol>
      <ol>Русский: 5</ol>
      <ol>Труд: 5</ol>
      <ol>"Русский медведь": 500 место</ol>    
    </ul>
  </h3>
