<ul>
  <h1>Богдашкины прозвища</h1>
  <h3>
    <li>Богдашка-черепашка</li>
    <li>Богдашка-какашка</li>
    <li>Богдашка-чебурашка</li>
    <li>Богдашка-промокашка</li>
  </h3>
</ul>

<p></p>
<ul>
  <h1>Богдашкины достижения</h1>
    <h3>
      <ol>Математика: 5</ol>
      <ol>Русский: 5</ol>
      <ol>Труд: 5</ol>
      <ol>"Русский медведь": 500 место</ol>
  </h3>
</ul>
